@charset "utf-8";
@import url("styles.css");

.filter-button {
  color: white;
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 10px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
}

.short-title {
  float: right;
  display: none;
}

/* Hide thumbnail previews to save space */
@media screen and (max-width: 350px) {
  #restaurants-list .restaurant-img {
    display: none;
  }
}

/* Resize the restaurant list items */
@media screen and (max-width: 500px) {
  body {
    font-size: 120%;
  }
  #restaurants-list li {
    max-width: 100%;
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
  }
}

@media screen and (min-width: 501px) and (max-width: 760px) {
  #restaurants-list li {
    max-width: calc(50% - 100px);
    min-height: 250px;
  }
}

@media screen and (min-width: 761px) {
  #restaurants-list li {
    max-width: calc(100%/3 - 100px);
    min-height: 250px;
  }

  .inside #maincontent {
  	display: block;
  }

  #restaurant-container, #reviews-container {
    width: 50%;
  }

  .inside #map-container {
    height: 87%;
    position: fixed;
    top: 80px;
    width: 50%;
    right: 0;
  }

  #breadcrumb {
    width: calc(50% - 80px);
  }

  #reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    margin: 20px;
    padding: 20px;
  }

  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
  }
}

/* Hide the filters and show hamburger nav button */
@media screen and (max-width: 501px) {
  .filter-options {
    position: fixed;
    top: 9999999px;

  }
  .filter-options.open {
    position: relative;
    float: right;
    top: 0;
  }
  .filter-button {
    visibility: visible;
    cursor: pointer;
  }
  .short-title {
    display: block;
  }
  .long-title {
    display: none;
  }
}
