@charset "utf-8";
@import url("styles.css");

.filter-button {
  color: white;
  visibility: hidden;
  position: absolute;
  top: 5px;
  left: 10px;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
}

.short-title {
  float: right;
  display: none;
}

/* Hide thumbnail previews to save space */
@media screen and (max-width: 350px) {
  #restaurants-list .restaurant-img {
    display: none;
  }
}

/* Resize the restaurant list items */
@media screen and (max-width: 620px) {
  #restaurants-list li {
    max-width: 100%;
    width: 100%;
    min-height: 150px;
  }
}

@media screen and (min-width: 621px) and (max-width: 760px) {
  #restaurants-list li {
    max-width: 200px;
    min-height: 250px;
  }
}

@media screen and (min-width: 761px) {
  #restaurants-list li {
    min-width: 200px;
    min-height: 250px;
  }
}

/* Hide the filters and show hamburger nav button */
@media screen and (max-width: 446px) {
  .filter-options {
    position: fixed;
    top: 9999999px;

  }
  .filter-options.open {
    position: relative;
    float: right;
    top: 0;
  }
  .filter-button {
    visibility: visible;
    cursor: pointer;
  }
  .short-title {
    display: block;
  }
  .long-title {
    display: none;
  }
}
